/**/node_modules
/iot-firmware/build
/iot-firmware/fs/wifi.js
/iot-firmware/fs/secret.js
/package-lock.json
/data/log
/data/state.json
/data/database.db
/data/devices.yaml
/data/coordinator_backup.json
/data/ghome-key.json
/data/config.json
/data/ssl.cert
/data/ssl.key
/ssl.key
/ssl.cert
/archived
/secrets
/experiments
/index-app
/app1
/node_modules
/.env
/webauthn-skeleton/keys