/ssl.key
/ssl.cert
/torrent-client
/archived
/secrets
/iot-firmware/build
/node_modules
/**/node_modules
/package-lock.json
/iot-firmware/fs/wifi.js
/iot-firmware/fs/secret.js
/experiments
/data/log
/iot-firmware-tv/build
/data/state.json
/data/database.db
/data/coordinator_backup.json
/iot-firmware - Copy
/index-app
/iot-firmware-mqtt
/iot-firmware-legacy
/app1
/data/ghome-key.json
/data/config.json
/data/ssl.cert
/data/ssl.key
/iot-firmware-temp
/IRremoteESP8266
/.env